body {
  font-size: 14px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',;color: brown;background-color: aqua;
line-height: 1,5;}

@media all and (min-width: 600px) {
    ul{background-color: green;}
    h2 {background-color: orange;}
}